{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="static/css/datatables.css">
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="container-fluid"></div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if table_config %}
        <script>
            const table_config = {{ (table_config or []) | tojson }};
        </script>
        <script type="module" src="/static/js/datatables/cell_edit.js"></script>
        <script type="module" src="/static/js/datatables/dt.js"></script>
    {% endif %}
{% endblock %}
